<!DOCTYPE html>
<html lang="en">
<include file="Public/head"/>

<body>
<div id="wrapper">

    <include file="Public/nav"/>
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-table"></i>推荐位内容管理
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div>
                <button id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"
                                                                         aria-hidden="true"></span>添加
                </button>
            </div>
            <br>
            <div class="row">
                <form action="/index.php?m=admin&c=positioncontent&a=index" method="post">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">推荐位</span>
                            <select class="form-control" name="position_id">
                                <foreach name="positions" item="position">
                                    <option value="{$position.id}" <if condition="$position['id'] eq $positionId">selected="selected"</if>>{$position.name}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" name="title" type="text" value="{$title}" placeholder="文章标题"/>
                            <span class="input-group-btn">
                  <button id="sub_data" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <h3></h3>
                    <div class="table-responsive">
                        <form id="smartcms-listorder">
                            <table class="table table-bordered table-hover smartcms-table">
                                <thead>
                                <tr>
                                    <th width="14">排序</th><!--7-->
                                    <th>id</th>
                                    <th>标题</th>
                                    <th>创建时间</th>
                                    <th>修改时间</th>
                                    <th>封面图</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="contents" item="content">
                                    <tr>
                                        <td><input size=4 type='text' name='listorder[{$content.id}]'
                                                   value="{$content.listorder}"/></td>
                                        <td>{$content.id}</td>
                                        <td>{$content.title}</td>
                                        <td>{$content.create_time|date="Y-m-d H:i",###}</td>
                                        <td>{$content.update_time|date="Y-m-d H:i",###}</td>
                                        <td>
                                            <if condition="$content['thumb']">
                                                <img src="{$content.thumb}" style="width: 48px;height: 32px;" />
                                                <else />
                                                <span style="color: #880000;">无缩略图</span>
                                            </if>
                                        </td>
                                        <td>
                                            <span attr-status="<if condition=" $content['status'] eq 1">0<else/>1</if>" attr-id="{$content.id}" class="sing_cursor smartcms-on-off" id="smartcms-on-off">
                                                {$content.status|status}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true"
                                                  id="smartcms-edit" attr-id="{$content.id}"></span>
                                            <a href="javascript:void(0)" id="smartcms-delete" attr-id="{$content.id}"
                                               attr-message="删除">
                                                <span class="glyphicon glyphicon-remove-circle"
                                                      aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </form>
                        <div>
                            <button id="button-listorder" type="button" class="btn btn-primary dropdown-toggle"><span
                                    class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>更新排序
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>

<script>
    var SCOPE = {
        'edit_url': '/index.php?m=admin&c=positioncontent&a=edit',
        'set_status_url': '/index.php?m=admin&c=positioncontent&a=setStatus',
        'add_url': '/index.php?m=admin&c=positioncontent&a=add',
        'listorder_url': '/index.php?m=admin&c=positioncontent&a=listorder',
    };
</script>
<include file="Public/footer"/>
</html>