<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>SmartCms内容管理平台</title>

    <!-- Bootstrap core CSS -->
    <link href="/Public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/Public/css/home/main.css" rel="stylesheet">
    <link href="/Public/css/home/login.css" rel="stylesheet">
</head>

<body>
<div class="admin_login_wrap container">
    <h1 style="text-align: center">用户登录</h1>

    <div class="admin_login_border">
        <div class="admin_input">
            <form class="form-signin" enctype="multipart/form-data" method="post">
                <label class="sr-only">用户名</label>
                <input type="text" class="form-control col-md-1" name="username" placeholder="请填写用户名" required
                       autofocus>
                <br/><br/>
                <label class="sr-only">密码</label>
                <input type="password" name="password" id="inputPassword" class="form-control col-md-1" placeholder="密码"
                       required>
                <br/><br/>
                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="login.check()">登录</button>
            </form>
        </div>
    </div>

    <div>
        <div class="left"><a href="__APP__">返回首页</a></div>
        <div class="right"><a href="__APP__/Admin/register">注册</a></div>
    </div>
</div>
</body>

<script src="/Public/js/jquery.js"></script>
<script src="/Public/js/dialog/layer.js"></script>
<script src="/Public/js/dialog.js"></script>
<script src="/Public/js/admin/login.js"></script>
</html>
