<!DOCTYPE html>
<?php
    $config = D("Basic")->select();
?>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{$config.keywords}">
    <meta name="description" content="{$config.description}">
    <meta name="author" content="d4smart">
    <title>SmartCms内容管理平台</title>
    <!-- Bootstrap core CSS -->
    <link href="/Public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/Public/css/home/main.css" rel="stylesheet">
    <link href="/Public/css/home/login.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://www.d4smarter.com/favicon.ico"/>
</head>

<body>
<div class="admin_login_wrap container">
    <h1 style="text-align: center">用户登录</h1>

    <div class="admin_login_border">
        <div class="admin_input">
            <form class="form-signin" enctype="multipart/form-data" method="post">
                <label class="sr-only">用户名</label>
                <input type="text" class="form-control col-md-1" name="username" placeholder="请填写用户名" required
                       autofocus>
                <br/><br/>
                <label class="sr-only">密码</label>
                <input type="password" name="password" id="inputPassword" class="form-control col-md-1" placeholder="密码"
                       required>

                <label for="verify">验证码：</label>
                <input type="text" name="verify" id="verify" size="10" class="admin_input_style" />
                <img src="__CONTROLLER__/verify" width="100" height="50" style="cursor: pointer;"
                     onclick="this.src='__CONTROLLER__/verify/';">

                <br/><br/>
                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="login.check()">登录</button>
            </form>
        </div>
    </div>

    <div>
        <div class="left"><a href="/">返回首页</a></div>
        <div class="right"><a href="__APP__/Admin/register">注册</a></div>
    </div>
</div>
</body>

<script src="/Public/js/jquery.js"></script>
<script src="/Public/js/dialog/layer.js"></script>
<script src="/Public/js/dialog.js"></script>
<script src="/Public/js/admin/login.js"></script>
</html>
